.fakeCard {
  display: inline-block;
  margin: 10px;
  background-image: radial-gradient(circle, white, #1e3050, black);
}

/* .fakeCard svg {
  /* margin: auto; 
  width: 100%;
  transform: rotate(90deg);
} */
