.fakeCard {
  display: inline-block;
  margin: 10px;
  background-image: radial-gradient(circle, white, #1e3050, black);
  display: inline-flex;
  align-items: center;
  justify-content: end;
  opacity: 1;
}

.fakeCard.disapear {
  opacity: 0;
  /* can comment out to remove card disapearing */
}

/* .fakeCard svg {
  /* margin: auto; 
  width: 100%;
  transform: rotate(90deg);
} */
