.scene {
  display: inline-block;
  /* width: 18vh;
  height: 230px; */
  margin: 1vh;
  /* todo add justify content */
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  width: 18vh;
  height: 24vh;
  font-size: 0.75em;
  line-height: 1em;
  p {
    margin: 0 5px;
  }
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

.card__face--front {
  background-image: radial-gradient(circle, white, #1e3050, black);
  /* padding-top: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: conic-gradient(
    hsla(0, 100%, 50%, 0.53),
    rgba(255, 255, 0, 0.53),
    rgba(0, 128, 0, 0.53),
    rgba(0, 0, 255, 0.53),
    rgba(0, 0, 0, 0.53)
  ); */
}

.judge {
  .card__face--front {
    background-image: radial-gradient(circle, white, #7c0202);
  }
  .card__face--back {
    color: #7c0202;
    overflow: scroll;
  }
}

.card__face--back {
  background: whitesmoke;
  transform: rotateY(180deg);
  color: #1e3050;
  overflow: scroll;
  // animation: grow 1s;
  // transform: scale(1);
}

.winning-card {
  // animation: grow 2s forwards;
  // animation-delay: 0.3s;
  // -webkit-backface-visibility: hidden;
  // -webkit-transform-style: preserve-3d;
  color: #7c0202;
}

.losing-cards {
  animation: grow 2s forwards;
  // opacity: 0;
}

@keyframes grow {
  from {
    // visibility: visible;
    opacity: 1;
    // transform: scale(0);
  }
  to {
    // visibility: visible;
    opacity: 0;
    // transform: scale(3);
  }
}
